<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Transaction History</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Ticker</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Total Profit & Loss</th>
    <th>Profit & Loss %</th>
  </tr>
  {% for transaction in transactions %}
  <tr>
    <td>{{transaction.datetime}}</td>
    <td>{{transaction.ticker}}</td>
    <td>{{transaction.type}}</td>
    <td>{{transaction.amount}}</td>
    <td>{{transaction.price}}</td>
    <td>{{transaction.total_pnl}}</td>
    <td>{{transaction.pnl_percentage}}</td>
  </tr>
  {% endfor %}
</table>

<br>
<a href="/">Go back</a>
</body>
</html>